mixin services()
  +b('section').services-section#services
    +b.container
      +b.service
        +b.service-head
          +e('h3').head Вы можете заказать
          +e('h3').head2 Наши услуги
          +e('p').text Мы даем возможность всем желающим автовладельцам качественно, быстро и доступно, придать своему авто оригинальность, неповторимый стиль и особый личный характер.
      +b.service-items
        +b.service-item
          +b.item-image
            +e('img')(src='assets/images/service_item_1.png', alt='', width='50px', height='35px')
          +b.item-text
            +e('p').head брендирование авто
            +e('p').text Брендирование авто – сделайте корпоративный транспорт узнаваемым!
            +e('p').text Нанесение фирменной символики, логотипа, слогана, контактных данных.
            +e('a').btn.js_moreActive Подробнее
          +b.more-info
            +e('h2').head Брендирование авто
            +e('p').text Сделайте корпоративный транспорт узнаваемым!
            +e('p').text Нанесение фирменной символики, логотипа, слогана, контактных данных.
            +e('p').text Обозначьте принадлежность автомобиля к вашей компании и сделайте бренд более узнаваемым!
            +e('p').text В зависимости от технического задания и проекта в целом используются различные материалы. Цветные пленки подбираются максимально близко к фирменным цветам, при необходимости используется технология полноцветной печати.
        +b.service-item
          +b.item-image
            +e('img')(src='assets/images/service_item_2.png', alt='', width='50px', height='35px')
          +b.item-text
            +e('p').head Реклама на транспорте
            +e('p').text Превратите ваш автомобиль в подвижную рекламу ваших товаров и услуг!
            +e('p').text Оперативно сообщите о скидках или проводимых акциях!
            +e('a').btn.js_moreActive Подробнее
          +b.more-info
            +e('h2').head Реклама на транспорте
            +e('p').text Превратите ваш автомобиль в подвижную рекламу ваших товаров и услуг!
            +e('p').text Оперативно сообщите о скидках или проводимых акциях!
            +e('p').text Один из самых эффективных способов рекламы, предоставляющий возможность использовать автомобиль как рекламоноситель и весомый элемент фирменного имиджа.
            +e('p').text Разработка дизайна и оклейка производятся по исходным файлам брендбука или требованиям заказчика, а также по индивидуальным проектам, учитывающим нюансы конкретного автомобиля, рекламные задачи и идеи.
        +b.service-item
          +b.item-image
            +e('img')(src='assets/images/service_item_3.png', alt='', width='70px', height='38px')
          +b.item-text
            +e('p').head Автостайлинг
            +e('p').text Украсьте свой авто необычным орнаментом или перенесите на кузова автомобиля свой любимый рисунок!
            +e('p').text Работы выполняются виниловыми матовыми/ глянцевыми пленками в один цвет либо путем аппликации (комбинирования) пленок двух и более цветов.
            +e('a').btn.js_moreActive Подробнее
          +b.more-info
            +e('h2').head Автостайлинг
            +e('p').text Украсьте свой авто необычным орнаментом или перенесите на кузова автомобиля свой любимый рисунок!
            +e('p').text Работы выполняются виниловыми матовыми/ глянцевыми пленками в один цвет либо путем аппликации (комбинирования) пленок двух и более цветов.
            +e('p').text Векторный рисунок вырезается на плоттере и переносится на поверхность элементов автомобиля при помощи монтажной пленки. Для градиентных переходов цветов используется цветная печать на белых/прозрачных пленках.
        +b.service-item
          +b.item-image
            +e('img')(src='assets/images/service_item_4.png', alt='', width='61px', height='40px')
          +b.item-text
            +e('p').head Винолография
            +e('p').text Полноцветные изображения на кузове вашего авто + дополнительная защита от сколов и царапин!
            +e('p').text Внешний тюнинг автомобилей, прекрасная и более демократичная альтернатива аэрографии.
            +e('a').btn.js_moreActive Подробнее
          +b.more-info
            +e('h2').head Винолография
            +e('p').text Полноцветные изображения на кузове вашего авто + дополнительная защита от сколов и царапин!
            +e('p').text Внешний тюнинг автомобилей, прекрасная и более демократичная альтернатива аэрографии.
            +e('p').text Данный вид стайлинга практически не имеет ограничений по тематикам, стилям, сюжетам и цветовому исполнению. Представляет из себя полноцветную струйную печатью (с высоким разрешением) на специализированной прозрачной/белой виниловой пленке, с последующей защитной ламинацией (придающей изображению глянец, идентичный лако-красочному покрытию автомобиля). Также, пленка на поверхности кузова защищает покрытие от мелких сколов и царапин.
        +b.service-item
          +b.item-image
            +e('img')(src='assets/images/service_item_5.png', alt='', width='55px', height='50px')
          +b.item-text
            +e('p').head Дизайн
            +e('p').text Разработка дизайн-проектов для вашего автомобиля!
            +e('p').text Реклама или индивидуальный проект, в проекте будет учтены все нюансы будущего изображения и его адаптации к поверхности на которую изображение будет нанесено!
            +e('a').btn.js_moreActive Подробнее
          +b.more-info
            +e('h2').head Дизайн
            +e('p').text Разработка дизайн-проектов для вашего автомобиля!
            +e('p').text Реклама или индивидуальный проект, в проекте будет учтены все нюансы будущего изображения и его адаптации к поверхности на которую изображение будет нанесено!
            +e('p').text Эксклюзивно оформленный автомобиль - это проект, созданный для его владельца в единственном числе и не может встретится где либо ещё. Неповторимый, индивидуально нарисованный узор или тематическое изображение - это работа дизайнера-иллюстратора, специалиста, способного создать рукотворный рисунок в электронном виде согласно Вашим пожеланиям. Наш талант и Ваше четкое представление о желаемом сделают автомобиль действительно единственным в природе.
            +e('p').text Всё, что можно представить - можно изобразить, напечатать и нанести на автомобиль!
        +b.service-item
          +e('img')(src='assets/images/service_item_6.png', alt='', width='335px').car-man
