mixin reviews()
  +b('section').reviews-section
    +b.container
      +b.trust-reviews
        +b.trust
          +b.trust-head
            +e('h3').head Мы заслужили
            +e('h3').head2 Доверие клиентов:
          +b.trust-item
            +e('img')(src='assets/images/trust_item_1.png', alt='', width='35px', height='35x')
            +e('p').text Работаем на рынке с 2000 года
          +b.trust-item
            +e('img')(src='assets/images/trust_item_2.png', alt='', width='35px', height='35x')
            +e('p').text Материалы от “Эконом” до “Премиум”
          +b.trust-item
            +e('img')(src='assets/images/trust_item_3.png', alt='', width='35px', height='35x')
            +e('p').text Высокое качество работ и материалов
          +b.trust-item
            +e('img')(src='assets/images/trust_item_4.png', alt='', width='35px', height='35x')
            +e('p').text Четкое соблюдение сроков
          +b.trust-item
            +e('img')(src='assets/images/trust_item_5.png', alt='', width='35px', height='35x')
            +e('p').text Контроль всех этапов производства
          +b.trust-item
            +e('img')(src='assets/images/trust_item_6.png', alt='', width='35px', height='35x')
            +e('p').text Квалифицированный персонал
          +b.trust-item
            +e('img')(src='assets/images/trust_item_7.png', alt='', width='35px', height='35x')
            +e('p').text Индивидуальный подход к клиентам
          +b.trust-item
            +e('img')(src='assets/images/trust_item_8.png', alt='', width='35px', height='35x')
            +e('p').text Возможность выезда бригады по адресу
        +b.reviews
          +b.reviews-head
            +e('a')(href='#') Смотреть все отзывы
            +e('h3').head Отзывы о нашей работе
          +b.reviews-item
            +b.reviews-item-image
              +e('img')(src='assets/images/sto_stolov.jpg', alt='', width='135px', height='135px')
            +e('h5')
              +e('span')  Микроавтобус
            +e('p') Оклейка микроавтобуса который доставляет мебель клиентам. Макет разработан с учетом наших требований, фирменных цветов и размеров транспортного средства.
          +b.reviews-item
            +b.reviews-item-image
              +e('img')(src='assets/images/prizrachny_gonschik.jpg', alt='', width='135px', height='135px')
            +e('h5') Петр,
              +e('span')  Форд Фокус_Призрачный Гонщик
            +e('p') Хотел оклеить весь кузов, но бюджет для такой задачи был не велик. Предложили комбинированную аппликацию – затяжка капота + аппликация пленкой. Подготовили проект и реализовали. Получилось очень удачно! И рисунок оригинальный, и площадь оклейки большая и бюджет гуманный!
          +b.reviews-item
            +b.reviews-item-image
              +e('img')(src='assets/images/wv_tiguan.jpg', alt='', width='135px', height='135px')
            +e('h5') Александр,
              +e('span')  VW Tiguan
            +e('p') Давно думал как сделать так что-бы борта моего автомобиля украшал хищник и что-бы бюджет был для меня доступным. Аэрография отпала сразу - очень дорого, а вот оклейка пленкой с полноцветным изображением оказалась вполне доступна. Сразу понял что потяну, согласовали материалы, картинку, ударили по рукам и быстро все сделали.
