mixin reviews()
  +b('section').reviews-section
    +b.container
      +b.trust-reviews
        +b.trust
          +b.trust-head
            +e('h3').head Мы заслужили
            +e('h3').head2 Доверие клиентов:
          +b.trust-item
            +e('img')(src='assets/images/trust_item_1.png', alt='', width='35px', height='35x')
            +e('p').text Работаем на рынке с 2000 года
          +b.trust-item
            +e('img')(src='assets/images/trust_item_2.png', alt='', width='35px', height='35x')
            +e('p').text Материалы от “Эконом” до “Премиум”
          +b.trust-item
            +e('img')(src='assets/images/trust_item_3.png', alt='', width='35px', height='35x')
            +e('p').text Высокое качество работ и материалов
          +b.trust-item
            +e('img')(src='assets/images/trust_item_4.png', alt='', width='35px', height='35x')
            +e('p').text Четкое соблюдение сроков
          +b.trust-item
            +e('img')(src='assets/images/trust_item_5.png', alt='', width='35px', height='35x')
            +e('p').text Контроль всех этапов производства
          +b.trust-item
            +e('img')(src='assets/images/trust_item_6.png', alt='', width='35px', height='35x')
            +e('p').text Квалифицированный персонал
          +b.trust-item
            +e('img')(src='assets/images/trust_item_7.png', alt='', width='35px', height='35x')
            +e('p').text Индивидуальный подход к клиентам
          +b.trust-item
            +e('img')(src='/assets/images/trust_item_8.png', alt='', width='35px', height='35x')
            +e('p').text Возможность выезда бригады по адресу
        +b.reviews
          +b.reviews-head
            +e('a')(href='#') Смотреть все отзывы
            +e('h3').head Отзывы о нашей работе
          +b.reviews-item
            +b.reviews-item-image
              +e('img')(src='assets/images/reviews_image.png', alt='', width='135px', height='135px')
            +e('h5') Доротенко Татьяна,
              +e('span')  Форд Куга_Гжель
            +e('p') В «Автоузор» обратилась по рекомендации, и не пожалела. Не скажу, что дешево, но желания искать что-то другое уже не было, несколько раз обожглась на «не дорогих» вариантах... Качество отличное, все делают как положено. Очень адекватный и отзывчивый персонал, быстро реагируют на любые просьбы. Спасибо, буду обращаться еще.
          +b.reviews-item
            +b.reviews-item-image
              +e('img')(src='assets/images/reviews_image.png', alt='', width='135px', height='135px')
            +e('h5') Доротенко Татьяна,
              +e('span')  Форд Фокус_Призрачный Гонщик
            +e('p') Хотел оклеить весь кузов, но бюджет для такой задачи был не велик. Предложили комбинированную аппликацию – затяжка капота + аппликация пленкой. Подготовили проект и реализовали. Получилось очень удачно! И рисунок оригинальный, и площадь оклейки большая и бюджет гуманный!
          +b.reviews-item
            +b.reviews-item-image
              +e('img')(src='assets/images/reviews_image.png', alt='', width='135px', height='135px')
            +e('h5') Доротенко Татьяна,
              +e('span')  Скания_Дарк Даймонд
            +e('p') После аварии пришлось восстанавливать оригинальную оклейку ограниченной серии Scania «Dark Diamond». Купить негде, дилер разводит руками… Так вот – ребята справились! Это заняло время, поиск материалов в интернете, остатки старой аппликации, замеры… но восстановить всё удалось! Огромное спасибо за кропотливый труд и прекрасный результат
