mixin action()
  +b('section').action-section
    +b.container
      +b.action
        +e('img')(src='assets/images/action.png', alt='', width='1075', height='560')
        +b.auction-text
          +e('h2') Рекламно-произодственная
          +e('h2') компания “Автоузор”
          +b('a')(href='#modal', rel="nofollow").advice.js_modalWindow Получить консультацию
