mixin work()
  +b('section').work-section#work
    +b.container
      +b.work
        +b.work-left
          +e('img')(src='assets/images/works_photo_1.png', alt='', width='364px', height='207px').first
          +e('img')(src='assets/images/works_photo_2.png', alt='', width='364px', height='208px').two
        +b.work-center
          +b.work-center-up
            +b.work-center-text
              +e('h2').head Наши работы
                +b('span').js_showImg еще фото
              +e('p') В этом разделе Вы можете увидеть некоторые готовые проекты выполненные по разным техзаданиям с использованием разных технологий - реклама, брендирование, винилография и пр. Галерея позволит получить общее впечатление о работе с пленкой и конечном результате, а возможно, поможет определиться с тем что необходимо именно Вам.
            //+e('img')(src='assets/images/works_photo_5.png', alt='', width='180px', height='135px').five
          +b.work-center-down
            +b.work-center-down-left
              +e('img')(src='assets/images/works_photo_3.png', alt='', width='180px', height='135px').three
              +e('img')(src='assets/images/works_photo_4.png', alt='', width='180px', height='135px').four
            +b.work-center-down-right
              +e('img')(src='assets/images/works_photo_6.png', alt='', width='355px', height='280px').six
        +b.work-right
          +e('img')(src='assets/images/works_photo_7.png', alt='', width='180px', height='135px').seven
          +e('img')(src='assets/images/works_photo_8.png', alt='', width='180px', height='135px').eight
          +e('img')(src='assets/images/works_photo_9.png', alt='', width='180px', height='135px').nine
      +b.work-two
        +b.work-left
          +e('img')(src='assets/images/works_photo_1.png', alt='', width='364px', height='207px').first
          +e('img')(src='assets/images/works_photo_2.png', alt='', width='364px', height='208px').two
        +b.work-center
          +b.work-center-up
            +e('img')(src='assets/images/works_photo_5.png', alt='', width='268px', height='135px').five.five-two
            +e('img')(src='assets/images/works_photo_5.png', alt='', width='267px', height='135px').five
          +b.work-center-down
            +b.work-center-down-left
              +e('img')(src='assets/images/works_photo_3.png', alt='', width='180px', height='135px').three
              +e('img')(src='assets/images/works_photo_4.png', alt='', width='180px', height='135px').four
            +b.work-center-down-right
              +e('img')(src='assets/images/works_photo_6.png', alt='', width='355px', height='280px').six
        +b.work-right
          +e('img')(src='assets/images/works_photo_7.png', alt='', width='180px', height='135px').seven
          +e('img')(src='assets/images/works_photo_8.png', alt='', width='180px', height='135px').eight
          +e('img')(src='assets/images/works_photo_9.png', alt='', width='180px', height='135px').nine
