mixin offers()
  +b('section').offers-section
    +b.container
      +b.offers
        +b.offers-head
          +e('h2').head Что мы еще
            +e('span') можем предложить
        +b.offers-items
          +b.offers-item
            +e('p').head Плакаты, афиши, постеры
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Полноценная струйная печать чернилами, устойчивыми к выцветанию и воздействию окружающей среды с ваших файлов, от 1 шт.
          +b.offers-item
            +e('p').head Ламинация
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Нанесение защитного слоя ламината поверх отпечатанного изображения для защиты от абразивного и механического воздействия
          +b.offers-item
            +e('p').head Плоттерная резка
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Резка цветной самоклеящейся пленки для самостоятельного нанесения или для восстановления фрагментов аппликации, получивших повреждения
          +b.offers-item
            +e('p').head Баннеры
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Печать на баннерном полотне или сетке, установка люверсов, усиление краёв
          +b.offers-item
            +e('p').head Оформление витрин
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Оклейка витрин или др. остекленения сомоклеящейся пленкой, цетной или с полноцветным изображением. Выезд бригады для оклейки.
          +b.offers-item
            +e('p').head Таблички
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Изготовление табличек для различных целей из качественных материалов (алюминиевог опрофиля, металла и др.)
          +b.offers-item
            +e('p').head Информационные стенды
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Стенды с информацией, карманами для размещения листовок или объявлений, с обрамляющим профилем или без него.
          +b.offers-item
            +e('p').head Мобильные стенды
            +b.offers-arrow
              +e('img')(src='assets/images/arrow.png', alt='', width='15px', height='10px')
            +e('p').text Разборный каркас + баннерное полотно. Оптимально для выставок или быстрой организации точки продаж.

